// header {
//   // color: $main-color;
//   // background-color: $back-color;

//   display: flex;

//   @media (max-width: 768px) {
//     height: 50vh;
// }
  
// }

.header {
  color: $colorText;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 2px solid $colorText;
  margin-bottom: 50px;
}

.header__container {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;

};

.header__hamburger {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

};

.hamburger__icon {
  fill: $colorText;
  width: 40px;
  height: 40px;
}