.welcome__title {
  font-size: 80px;
  color: $colorText;
  color: #45846b;
  margin-bottom: 10px;
};

.welcome__sale {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.18em;
  margin-bottom: 23px;
};

.welcome__user {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.1em;

  max-width: 621px;
  margin-bottom: 52px;

};