
.works {
  position: relative;
  z-index: 10;
  
  margin-bottom: 25px;
};

.works__container {
  max-width: 960px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
};

.works__title {
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 500;
  line-height: 85px;
  color: $colorText;
  margin-bottom: 30px;

  text-align: center;

  z-index: 20;
}

.works__content {
  display: flex;
  justify-content: space-between;
  row-gap: 80px;
  flex-wrap: wrap;

  @media screen and (max-width: 850px) {
    justify-content: center;
  }

};

.works__image {
  position: relative;
  width: 396px;
  z-index: 10;

  &:first-child::before {
    content: url("img/pattern/pattern2.png");
    position: absolute;
    top: -58px;
    left: -38px;
    width: 76px;
    height: 400px;
    
    z-index: -10;
  };


  &:last-child::after {
    content: url("img/pattern/pattern3.png");
    position: absolute;
    bottom: -37px;
    right: -69px;
    width: 400px;
    height: 76px;

    
    z-index: -10;
  };

  
};