$main-backcolor: rgb(181,197,189);
$colorText: rgb(69,132,107);
$colorTextParag: rgb(89,42,32);
$colorWhite: white;
$colorBtnBackground: rgba(67,128,103, 0.84);

// @import "./layout/*.scss";
@import "./blocks/*.scss";

// @import "./blocks/_header.scss";
// @import "./blocks/_menu.scss";
// @import "./blocks/_nav.scss";
